<h1>Detail Contact</h1>
<div class="container">
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <ul>
                    <li class="text-dark"><%= det.name %> </li>
                    <li class="text-secondary"><%= det.mobile %></li>
                    <li class="text-dark"><%= det.email %></li>
                </ul>
                <a href="/" button type= button class="btn btn-primary">Back home</a>
            </div>
        </div>
    </div>
</div>