<%- include('./layouts/navbar.ejs')  %>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1 class="display-d">Albert Afriadi Sigiro</h1>
            <img src="/public/img/me.jpeg" class="profile" alt="Albert">
            <p class="lead">One of trainers Bootcamp</p>
        </div>
    </div>
</div>