<h1>Detail Contact</h1>
<div class="container">
    <div class="col-lg-10">
        <div class="card">
            <div class="card-body">
                <ul>
                    <label for="nama">Nama Barang</label>
                    <li class="text-secondary"><%= barang.namabarang %> </li>
                    <br>
                    <label for="tipe">Tipe Barang</label>
                    <li class="text-secondary"><%= barang.tipebarang %></li>
                    <br>
                    <label for="deskripsi">Deskripsi Barang</label>
                    <li class="text-secondary"><%= barang.deskripsi %></li>
                    <br>
                    <label for="stock">Stock Barang</label>
                    <li class="text-secondary"><%= barang.stock %> </li>
                </ul>
                <a href="/barang" button type= button class="btn btn-primary">Back</a>
            </div>
        </div>
    </div>
</div>