<div class="container-home">
    <div class="content-home">
        <h3 class="title-home">MINI PROJECT WGS</h3>
        <p>Mini project di perusahaan WGS (Walden Global Services) dengan bertemakan Data Barang.</p>
        <a href="/login" button type= "button" class="btn btn-info" id="btnHome">Login</a>
    </div>

    <div class="image-home">
        <img src="../public/img/home.gif" alt="home">
    </div>
</div>